@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #6f6ceb, #6b68e3, #6664da, #6260d2, #5e5cca, #5856be, #5250b1, #4c4aa5, #424192, #383880, #2f2f6e, #26265c);
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show-card-contain, .party-card-contain {
  display: flex;
  flex-direction: row;
}

.card-link {
  cursor: pointer;
}

.sign-in-logo {
  max-width: 30%;
  max-height: 100%;
}

.sign-in {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
}

.sign-in-text {
  margin-top: -5rem;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.logo-container, .sign-in-btn-container {
  display: flex;
  justify-content: center;
}

.google-button {
  height: 2rem;
}

.sign-in-btn {
  background-color: white;
  height: 3rem;
  color:#636562;
  width: 7rem;
  border-color: #636562;
}

.sign-in-btn:hover {
  background-color: #45208F;
  border-color: #45208F;
}

.sign-in-footer {
  text-align: center;
  color: #3EFEFE;
  margin-top: 10rem;
}

#nav {
  background: #6F6CEB;
  box-shadow: 0 8px 32px 0 #6F6CEB;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  height: 12vh;
}

#navlink {
  color: #3EFEFE;
}

.nav-logo {
  max-width: 33%;
  max-height: 100%;
}

.sign-out-btn {
  background-color: #6d38d6;
  border-color: #6F6CEB;
  color: white;
}

#app-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  color: #3EFEFE;
  background: rgba(37, 22, 67, 0.45);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  height: 7vh;
  text-align: center;
}

.welcome-message {
  text-align: center;
  color: #45208F;
  font-size: 4rem;
  margin-top: 2rem;
  font-family: 'Archivo Black', sans-serif;
}

#home-header {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  padding-top: .5rem;
  margin-bottom: 2rem;
}

.user-shows-container, .watch-parties-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-modal-create, .party-modal-create {
  color: #3EFEFE;
  background: #6f6ceb;
  border-color: transparent;
  font-size: 3rem;
  height: 5rem;
  background-color: transparent;
  font-weight: 900;
}

.show-modal-create:active, .party-modal-create:active {
  background: #6f6ceb;
  background-color: transparent;
}

.show-modal-create:hover, .party-modal-update:hover {
  color: #3EFEFE;
  background: #6f6ceb;
  border-color: transparent;
  background-color: transparent;
}

.party-card, .show-card {
  max-width: 18rem;
  max-height: 25rem;
  background-color: transparent;
  border-color: transparent;
  overflow: hidden;
}


.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -105%;
  position: absolute;
  background: rgba(111, 108, 235, .4);
  box-shadow: 0 8px 32px 0 #6F6CEB;
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.party-card:hover .card-body, .show-card:hover .card-body {
  right: 0;
}

.slick-slide > div {
  margin: 0;
}

.party-subtext {
  font-size: medium;
  color: white;
}

.party-title, .show-title {
  font-family: 'Archivo Black', sans-serif;
  color: #61ffff;
  font-size: x-large;
}
